* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --heights: 90.5vh;
    --widths: 100%;
}

.slider-container {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    margin: auto;
    overflow: hidden;
}

.active {
    display: inline-block;
}

.inactive {
    display: none;
}

.slides {
    height: var(--heights);
    width: var(--widths);
    position: relative;
}

.slide-images {
    width: 100%;
    height: 100%;
    border-radius: 0%;
    object-fit: cover;
}

.test_btn {
    font-size: 1.8rem;
    display: flex;
    position: absolute;
}

.slide-text {
    position: absolute;
    color: white;
    font-size: 50px;
    text-align: center;
    top: 30%;
}

@media screen and (max-width: 660px) {
    .slide-text {
        font-size: 30px;
    }
}
