
.best {
    width: 100%;
     text-align: center;
    background-color: black;
}

.best > div {
    display: flex;
    justify-content: center;
}
.best .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    padding: 5rem;  
}
.best .container .image{
    position:relative;
    overflow: hidden;
    margin :10px 0;

}


  .best .container h2{
  font-size: 1.7rem;
  padding: 0;
  color: #F84B65;
}
.erty{
    font-size: 0.6cm!important;

}
.content{
    color:#fff;
    background:rgba(0,0,0,0.8);
    position: absolute;
    top:-100%;
    left:0;
    width:100%;
    height:100%;
     padding:20px;
    box-sizing: border-box;
    transition: all 0.5s;
    cursor: pointer;
  }
.image:hover .content{
    top:0;
}

.content p{
    border-top:2px solid #f84b656c ;
    padding:2px ;
}
.service_img{
    width: 10cm;
     height: 5cm;
    border-radius:0;
}
.title_services{
    border:none;
    padding-bottom:0.5cm ;
    color: white;
    border-bottom: 5px solid #F84B65;
}



@media screen and (max-width:940px) {
    .best {
        margin: 1rem 0;
    }


    .best .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
}
