

.all{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2cm;
}
.disc{
    margin-left: 0.5cm;
    width: 16cm;
}
.blo{
    position: absolute;
    width: 18cm;
    height: 35cm ;
    margin-left: 1cm;
    margin-top: -11cm;
}
.svgwho{
    position: relative;
     width: 10cm;
    margin-left: 1cm;
    margin-right: 5cm;
 }
 .tit1{
     border-bottom: 4px solid #FF0066;
 }
 .par{
     
     text-align: left;
 }
 .work_color{
     color:#e7005d;
  }
  .title_services{
       
   }
   .lmp{
       display: flex;
       flex-direction: column;
        align-items: center;
   }