.title_services{
    text-align: center;

}
.title_services span{
    color:orange !important;
}
@keyframes animate{
    60%{
        transform: translate(20px,0) scale(1);
    }
    80%{
        transform: translate(20px,0) scale(1);
    }
    99%{
        transform: translate(0) scale(1);
    }
    100%{
        transform: translate(0) scale(1);
        opacity: 1;
    }
}

.tit1{
font-size: 30px;
color: black;
line-height: 16px;
text-transform: uppercase;
text-shadow: -3px 2px 5px rgba(0,0,0,0.5),3px -1px 0 rgba(255,255,255,0.8 );
padding-left: 3rem;
}
.all{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2cm;
}
.disc{
    margin-left: 0.5cm;
    width: 16cm;
    color: white;
    margin-top: 3rem;
}
.blo{
     width: 18cm;
    height: 35cm ;
     margin-top: -11cm;
     left: 0;
   }
 
 .par{
     
     text-align: left;
     color:#ccc;
        padding: 1rem 0;
        line-height: 1.8;
 }
 .work_color{
     color:orange !important;
  }

   .lmp{
       display: flex;
       flex-direction: column;
        align-items: center;
        background-color: black;
   }

.whoimage{
    position: relative;
    height: 10cm;
    width: 15cm;
    border-radius: 0%;

  }
  .non{
    padding: 0.1cm;
    margin: 0.7rem;
    color: orange;
    font-size: medium;
    border: 2px solid orange;
    font-weight: 800;
    transform: translateY(-1cm);
    transition: s;
      cursor: pointer;
      text-decoration: none;
  }
  .non:hover{
    background-color: rgba(255, 166, 0, 0.521);
    color: white;
}