.feed{
    background-color: rgb(238, 238, 238);
    padding: 2.5rem;
    box-shadow: 2px 2px 10px 3px rgb(225, 225, 225);
    margin: auto;
    padding: 0.8 2rem;
   height:200px;
   min-width: 20rem;
    max-width: 1100px;
	cursor:grab;
	overflow: hidden;
	pointer-events: none;
 
}
.section{
	display: flex;
	pointer-events: none;
	margin-top: 1cm;
	margin-bottom: 2cm;
 }
.pmop{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;

}
	.name-review{
		font-size: 1.5rem;
		color: rgb(50, 50, 50);
		margin-bottom: .25rem;
		text-align: center;
	  }
	  .first-review{
		color: red;
		font-style: italic;
		text-align: center;
	  }
	  .raiting{
		text-align: center;
		
	  }
	  .desc-review{
		line-height: 1.5rem;
		letter-spacing: 1px;
		color: rgb(150, 150, 150);
	  }
.tit3{
	padding-bottom: 0.3cm;
	border-bottom: 4px solid #FF0066;
	color: white;
}