
 h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  Color:rgb(8, 140, 26);
  text-align: center;
  font-weight: bold;

}
textarea {
  width: 102%;
  border-radius: 6px;
 height:80px;
font-weight: 1;

}
textarea::-webkit-scrollbar{
  width:0px;
}
h2{
  text-align: center;

}
#avis{
  background: rgb(8, 140, 26);
  color: #fff;
  margin-top: 10px;
  width: 100%;
  border-radius: 6px;
  padding: 10px 0;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}