.edit_profile .info_avatar .avatar{
    position: absolute;
  top:95px;
  left:32.5rem;
    color: black;
 

}
.edit_profile .info_avatar #file_up{
    position: absolute;
    top:0;
    left: 0;
    width: 80%;
    height: 20%;
    cursor: pointer;
    opacity: 0;
}

